*{
    color:coral; /*This is called universel selector this would be change the color of whole website;*/
    background-color:antiquewhite;
}
header {
    color: blue; /*this type of selector is called elemantary selector*/
}
