body{
    background-color:burlywood;
}
#ama{
    height:60px;
    background-color:black;
    border:5px;
    border-style:solid;
    border-color:white;
    border-radius:15px;
}
#amain{
    font-size:25px;
    color:orange;
    padding-left:10px;
}
.ac{
    text-decoration: none;
    margin-right:200px;
}
#a2, #a3, #a4{
    color:white;
}
button{
    background-color:orange;
}

#d1, #d2, #d3{
    height:100px;
    width:100px;
    border:5px solid white;
}
#d1{
    background-color:rgba(255,0,0,.5);
}
#d2{
    background-color:rgba(0,255,0,.5);
}
#d3{
    background-color:rgba(0,0,255,.5);
}
#content{
    height:500px;
}

footer{
    text-align:center;
    font-style: normal;
    font-size: large;
    color:white;
    background-color:black;
}